<div class="wrapper">
  <app-navbar (toggleMobileSidebar)="toggleMobileSidebar()"></app-navbar>

  <app-navbar-vertical
    [isMobileVisible]="isMobileSidebarVisible"
    (sidebarToggle)="onSidebarToggle($event)">
  </app-navbar-vertical>

  <div class="main-content" [ngClass]="{ 'collapsed': isSidebarCollapsed }">
    <router-outlet></router-outlet>
  </div>

  <!-- Backdrop for mobile sidebar -->
  <div *ngIf="isMobileSidebarVisible"
       class="mobile-backdrop"
       (click)="closeMobileSidebar()">
  </div>
</div>
