<div class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
  <div class="sidebar-content">
    <!-- Collapse button -->
    <div class="sidebar-item" (click)="toggleSidebar()">
      <a class="sidebar-link">
        <i class="bi" [ngClass]="isCollapsed ? 'bi-chevron-right' : 'bi-chevron-left'"></i>
        <span class="sidebar-text" *ngIf="!isCollapsed">Collapse Menu</span>
      </a>
    </div>

    <!-- Navigation items -->
    <ng-container *ngFor="let item of navItems">
      <div class="sidebar-item">
        <a class="sidebar-link"
           [routerLink]="item.href"
           routerLinkActive="active"
           [class.selected]="isActive(item.href)">
          <i class="bi" [ngClass]="item.icon"></i>
          <span class="sidebar-text" *ngIf="!isCollapsed">{{ item.label }}</span>
        </a>
      </div>
    </ng-container>

    <!-- Help item at bottom -->
    <div class="sidebar-item mt-auto">
      <a class="sidebar-link">
        <i class="bi bi-question-circle"></i>
        <span class="sidebar-text" *ngIf="!isCollapsed">Help & Support</span>
      </a>
    </div>
  </div>
</div>
