.sidebar {
  height: calc(100vh - 56px); /* Full height minus navbar */
  position: fixed;
  top: 56px; /* Offset for navbar */
  left: 0;
  background-color: #343a40;
  color: white;
  transition: width 0.3s ease-in-out;
  z-index: 1040;
}

.sidebar.collapsed {
  // width: 80px;
}

.sidebar:not(.collapsed) {
  width: 250px;
}


.nav-link {
  color: white;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  &.active,
  &.selected {
    background-color: #495057;
    color: #fff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background-color: #0d6efd; // Bootstrap primary color
    }
  }

  &:hover {
    background-color: #495057;
    border-radius: 4px;
  }
}


.toggle-btn {
  position: absolute;
  top: 10px;
  right: -20px;
  background-color: #343a40;
  border: none;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.toggle-btn:hover {
  background-color: #495057;
}
