<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
  <button type="button" class="btn-close" (click)="onClose()"></button>
</div>
<div class="modal-body">
  <ng-content></ng-content>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">
    {{ cancelButtonText }}
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!isFormValid"
    (click)="onConfirm()"
  >
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1"></span>
    {{ confirmButtonText }}
  </button>
</div>
