<app-pagination-card [data]="sitesList" [pageSize]="5">
  <ng-template #contentTemplate let-site>
    <div class="row mb-3">
      <div class="col-12">
        <a href="javascript:;" (click)="navigateToDetail(site.siteId)" class="text-decoration-none text-primary fw-bold">
          <h4 class="card-title">{{ site.siteName }}</h4>
        </a>
      </div>
    </div>
    <div class="row mb-2 text-muted">
      <div class="col-12">
        <i class="bi bi-geo-alt me-2"></i><b>Address :</b> {{ site.address }}
      </div>
    </div>
    <div class="row justify-content-between mb-4 text-muted">
      <div class="col-12 col-md-6">
        <i class="bi bi-person me-2"></i><b>PIC :</b> {{ site.picFullName }}
      </div>
      <div class="col-12 col-md-6">
        <i class="bi bi-telephone me-2"></i><b>Phone :</b> {{ site.phone || 'Not specified' }}
      </div>
    </div>
    
    <!-- Updated stock information section -->
    <ng-container *ngIf="site.stockOverview && site.stockOverview.length > 0">
      <div class="row mb-2">
        <div class="col-12 text-primary">
          <i class="bi bi-box-seam me-2"></i><b>Stock Information</b>
        </div>
      </div>
      <div class="card p-3 bg-light rounded-3 border-0 mb-2">
        <b class="text-secondary">Packages:</b>
        <div class="row">
          <div class="col-12 col-md-6 text-muted" *ngFor="let stock of site.stockOverview">
            <i class="bi bi-box me-2"></i><b>{{ stock.type }}:</b>
            {{ stock.totalPackages }} Pack
          </div>
        </div>
      </div>
      <div class="card p-3 bg-light rounded-3 border-0">
        <b class="text-secondary">Stock Amount:</b>
        <div class="row">
          <div class="col-12 col-md-6 text-muted" *ngFor="let stock of site.stockOverview">
            <i class="bi bi-rulers me-2"></i><b>{{ stock.type }}:</b>
            {{ stock.totalStock }} {{ stock.sizeDescription }}
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
</app-pagination-card>