<section
  class="bg-light vh-100 d-flex align-items-center justify-content-center"
>
  <div
    class="bg-light d-flex rounded-3 shadow-lg mw-100 p-4 align-items-center"
    style="max-height: 75%"
  >
    <div class="col-md-6 px-3">
      <h2 class="fw-bold fs-4 text-primary">Login</h2>
      <p class="text-muted mt-2">Masuk dengan akun yang telah disediakan</p>

      <!-- Form -->
      <form
        #form="ngForm"
        (ngSubmit)="onSubmit()"
        class="d-flex flex-column gap-3"
      >
        <!-- Username Input -->
        <div class="form-group">
          <input
            type="text"
            id="username"
            class="form-control"
            placeholder="Enter your username"
            [(ngModel)]="formData.username"
            name="username"
            minlength="5"
            required
            #username="ngModel"
          />
          <!-- Validation Error Message -->
          <div
            *ngIf="username.invalid && username.touched"
            class="text-danger mt-1 small"
          >
            Username must be at least 5 characters long.
          </div>
        </div>

        <!-- Password Input -->
        <div class="position-relative">
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            [(ngModel)]="formData.password"
            name="password"
            required
            #password="ngModel"
          />
          <button
            type="button"
            class="btn position-absolute top-50 end-0 translate-middle-y"
            (click)="togglePasswordVisibility()"
            tabindex="-1"
          >
            <i
              [ngClass]="isPasswordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"
            ></i>
          </button>
          <!-- Validation Error Message -->
          <div
            *ngIf="password.invalid && password.touched"
            class="text-danger mt-1 small"
          >
            Password cannot be empty
          </div>
        </div>

        <!-- Error Message -->
        <div *ngIf="errorMessage" class="text-danger small">
          {{ errorMessage }}
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="btn btn-primary d-flex align-items-center justify-content-center gap-2"
          [disabled]="form.invalid || isLoading"
        >
          Login
        </button>
      </form>
    </div>

    <div class="col-md-6 d-none d-md-block h-50">
      <div class="d-flex align-items-end justify-content-end overflow-hidden">
        <img
          class="rounded embedded"
          src="../../../assets/png/login-placeholder.jpg"
          alt="Login Image"
          style="height: 50vh"
        />
      </div>
    </div>
  </div>

  <!-- Full Page Loading Spinner -->
  <app-loader *ngIf="isLoading" type="loading-overlay"></app-loader>
</section>
