::ng-deep .vertical-center {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

// Make sure this doesn't interfere with the multi-line sizing
::ng-deep .ag-cell {
  line-height: normal;
}

// Action buttons styling
::ng-deep .action-button-container {
  display: flex;
  justify-content: space-between;
}

::ng-deep .btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

::ng-deep .btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.hover-shadow {
  transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
