<div class="container px-2">
  <div class="my-4">
    <h3 class="display-6 fw-bold text-primary">Create Invoice</h3>
  </div>

  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

  <!-- Alert for errors -->
  <div
    *ngIf="error"
    class="alert alert-danger alert-dismissible fade show mb-4"
    role="alert"
  >
    <i class="bi bi-exclamation-circle me-2"></i>{{ error }}
    <button
      type="button"
      class="btn-close"
      (click)="error = ''"
      aria-label="Close"
    ></button>
  </div>

  <!-- Loading indicator -->
  <app-loader *ngIf="isLoading" type="loading-relative"></app-loader>

  <!-- Invoice Form Component -->
  <app-invoice-form
    [isEditMode]="false"
    (formSubmit)="onSubmit($event)"
    (cancel)="onCancel()"
  ></app-invoice-form>
</div>