.navbar {
  z-index: 1050;
}

.wrapper {
  display: flex;
}


.main-content {
  margin-left: 250px;
  margin-top: 65px; /* Offset for navbar */
  transition: margin-left 0.3s ease-in-out;
}

.main-content.collapsed {
  margin-left: 55px;
}
